<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.259780144944-m28majq312jddps9h4ajftdpn07r640b</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Password reset</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fastblog</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>259780144944-m28majq312jddps9h4ajftdpn07r640b.apps.googleusercontent.com</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>ShareTokenKey</key>
	<string>$(SHARE_TOKEN_KEY)</string>
</dict>
</plist>
